<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<bean id="foundation.db.DataSource"
		class="com.github.zzycjcg.foundation.db.ConfigurableDataSourceFactory">
		<property name="configLocation" value="jdbc.properties" />
	</bean>

	<bean id="foundation.dao.SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="foundation.db.DataSource" />
		<property name="configLocation" value="classpath:dao/SqlMapConfig.xml" />
	</bean>

	<bean id="foundation.dao.TransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="foundation.db.DataSource" />
	</bean>

	<bean id="foundation.dao.SqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg ref="foundation.dao.SqlSessionFactory" />
	</bean>

	<bean id="foundation.dao.BaseDao" class="com.github.zzycjcg.foundation.dao.impl.BaseDaoImpl"
		abstract="true">
		<property name="sqlSession" ref="foundation.dao.SqlSession" />
	</bean>

	<bean id="foundation.restserver.ResourceConfig"
		class="com.github.zzycjcg.foundation.restserver.SpringResourceConfig">
		<property name="beans" ref="foundation.restserver.resource" />
	</bean>

	<bean id="foundation.restserver.resource" class="org.springframework.beans.factory.config.SetFactoryBean">
		<property name="targetSetClass" value="java.util.LinkedHashSet" />
		<property name="sourceSet">
			<list>
			</list>
		</property>
	</bean>

</beans>